@model PFSSITE.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Student Details</h1>

<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <tr>
                <th><label asp-for="GRNO" class="control-label"></label></th>
                <td>@Html.DisplayFor(model => model.GRNO)</td>
            </tr>
            <tr>
                <th>
                    <label asp-for="RollNo" class="control-label"></label>
                </th>
                <td>@Html.DisplayFor(model => model.RollNo)</td>
            </tr>
            <tr>
                <th><label asp-for="StudentName" class="control-label"></label></th>
                <td> @Html.DisplayFor(model => model.StudentName)</td>
            </tr>
            <tr>
                <th><label asp-for="FatherName" class="control-label"></label></th>
                <td> @Html.DisplayFor(model => model.FatherName)</td>
            </tr>
            <tr>
                <th><label asp-for="ClassId" class="control-label"></label></th>
                <td> @Html.DisplayFor(model => model.Class.ClassName)</td>
            </tr>
            <tr>
                <th><label asp-for="DOB" class="control-label"></label></th>
                <td> @Html.DisplayFor(model => model.DOB)</td>
            </tr>
            <tr>
                <th><label asp-for="Gender" class="control-label"></label></th>
                <td> @Html.DisplayFor(model => model.Gender)</td>
            </tr>
            <tr>
                <th><label asp-for="Phone1" class="control-label"></label></th>
                <td> @Html.DisplayFor(model => model.Phone1)</td>
            </tr>
            <tr>
                <th><label asp-for="Phone2" class="control-label"></label></th>
                <td> @Html.DisplayFor(model => model.Phone2)</td>
            </tr>
            <tr>
                <th><label asp-for="Address" class="control-label"></label></th>
                <td> @Html.DisplayFor(model => model.Address)</td>
            </tr>
            <tr>
                <th><label asp-for="AdmissionDate" class="control-label"></label></th>
                <td> @Html.DisplayFor(model => model.AdmissionDate)</td>
            </tr>
            <tr>
                <th><label asp-for="Status" class="control-label"></label></th>
                <td> @Html.DisplayFor(model => model.Status)</td>
            </tr>
            <tr>
                <th><label asp-for="Description" class="control-label"></label></th>
                <td> @Html.DisplayFor(model => model.Description)</td>
            </tr>
            <tr>
                <th><label asp-for="FatherCNIC" class="control-label"></label></th>
                <td> @Html.DisplayFor(model => model.FatherCNIC)</td>
            </tr>
            <tr>
                <th><label asp-for="AdmissionFee" class="control-label"></label></th>
                <td> @Html.DisplayFor(model => model.AdmissionFee)</td>
            </tr>
            <tr>
                <th><label asp-for="MonthlyFee" class="control-label"></label></th>
                <td> @Html.DisplayFor(model => model.MonthlyFee)</td>
            </tr>
            <tr>
                <th><label asp-for="AnnualCharges" class="control-label"></label></th>
                <td> @Html.DisplayFor(model => model.AnnualCharges)</td>
            </tr>
            <tr>
                <th><label asp-for="StationaryCharges" class="control-label"></label></th>
                <td> @Html.DisplayFor(model => model.StationaryCharges)</td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="right m-t-10">
            <a asp-action="Index" class="btn btn-sm btn-secondary">View All</a>
        </div>
    </div>
</div>
