@model PFSSITE.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GRNO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GRNO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RollNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RollNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class.ClassName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdmissionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdmissionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherCNIC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherCNIC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdmissionFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdmissionFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthlyFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthlyFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnnualCharges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnnualCharges)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StationaryCharges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StationaryCharges)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.StudentId">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
