@model PFSSITE.Models.ClassViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Class</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.SessionId)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Session.SessionName)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ClassName)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ClassName)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.ClassId">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
